/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@900&family=Oswald:wght@300;600&display=swap');
/* Styles for the body */

body {
	font-family: 'Oswald', sans-serif;
	color: #260D16;
	background-color: #FFD9E7;
	font-weight: lighter;
}

h2 {
	font-family: 'Oswald', sans-serif;
	text-shadow: 5px 5px #FBABCE;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
}

h3 {
	font-family: 'Oswald', sans-serif;
	text-shadow: 5px 5px #F294C0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
}

.fw-bolder {
	color: #260D16;
	font-family: 'Oswald', sans-serif;
	text-shadow: 5px 5px #DE6A99;
	font-size: 60px;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #F294C0;
}

.resume-main {
	background-color: #F2CEDB;
}

.resume-aside {
	background-color: #FBABCE;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #D04876;
}

.skill-list li::before {
	color: #D04876;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.language-progress {
	background-color: #D04876;
}

.border-2 {
	border-color: #D04876 !important;
}

a:link {
color: #D04876;
}

a:visited {
color: #5E2135;
}